body{
	background-color:#484;
}

span{
	text-align:center;
}

/* animation for piece drop */
@keyframes drop {
  from {margin-top: -500px;}
  to {margin-top: 0px;}
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  /* TODO: make into circles */
  border-radius: 50%;
  margin: 5px;
  width: 80%;
  height: 80%;
  animation-name: drop;
  animation-duration: 1s;
}

#board {
	border:1px solid green;
	position:relative;
} 

/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position:relative;
  
}

.cell-cover{
	position:absolute;
	min-height:50px;
	min-width:50px;
	background-image:url("board-cell3.png");
	background-repeat:no-repeat;
	background-size:cover;
	top:0;
	z-index:99;
	
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.piece.p1 {
  background-color: red;
  background-image: url("red-piece-texture.png");
}

.piece.p2 {
  background-color: black;
  background-image: url("black-piece-texture.png");
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
